MYSQL_DATABASE=workflowpro
MYSQL_USER=workflowpro
MYSQL_PASSWORD=workflowpro
MYSQL_ROOT_PASSWORD=root
JWT_SECRET=V29ya0Zsb3dQcm9EZXZlbG9wbWVudFNlY3JldEtleUZvckpXVFRva2Vucw==
MAIL_ENABLED=false
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
